body{
    margin: 0px;
    padding: 0px;
    background: rgba(12, 12, 14, .3);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif

}




nav{
    display: block; 
    margin:0px;
    float: left;
    width: 100%;
    height: 200px;
    line-height: 4em;
}

.firstorder{
    background-color: white;
    height: 50px;
    width:100%;
    position: relative;
    
}
.bg{
    display:none;
    position: absolute;
    background-color: greenyellow;
    width: 100%;
    right: 0px;
    top:50px;
    height: 50px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.firstorder li{
    
    float: right;
    margin-top: 0px;
    list-style-type: none;
    color:white;
}
.firstorder:hover .bg{
    display:block;
}
.home{
    position: absolute;
    right: 30px;
    line-height: 3em;
}

.home>a{
    text-decoration: none;
    list-style-type: none;
}
.home a:hover{
    color: aliceblue;
}

.secondorder{
    position: absolute;
    top:0px;
    width:85%;
    height: 50px;
    background-color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:white;
    
   
}

.secondorder>li{
    display: inline;
    list-style-type: none;
    margin:20px 0 20px 200px;
    padding:20px;
    line-height: 2em;
    
}

.secondorder li a {
    
    text-decoration: none;
    color:white;
}

.secondorder span{
    display:block;
    position: absolute;
    top:0px;
    left:280px;
}

.alloffers{
    position: relative;
    display: inline-block;
    
}

.alloffers span{
    display: block;
    position: absolute;
    left: 50px;
}

 

.thirdorder{
    display: none;
    position: absolute;
    top: 50px;
    min-width:220px;
    background-color:black;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.thirdorder>li{
    line-height: 2em;
    list-style-type:none;
    
}

.thirdorder>li> a {
    color:black;
    padding: 5px;
    text-decoration: none;
    display: block;
}

.thirdorder a:hover {
    background-color: grey;
   
}

.alloffers:hover .thirdorder{
    display: inline;
    font-weight: bold;
}

.modaloffer{
    display: none;
    position: absolute;
    z-index: 1;
    padding-top: 40px;
    left:0px;
    top:60px;
    width:300px;
    height:350px;
    background-color: aqua;
    border-radius: 2px;
    box-shadow: 0 5px 8px rgba(0,0,0,0.2), 0 7px 20px rgba(0,0,0,0.2);
    
}

.offerform{
    margin: auto;
    padding:10px;
    width: 80%;
    height: 90%;
    border: 2px solid black;
    border-radius: 5px;
}

.offerform input{
    width: 90%;
    height: 20px;
    padding: 7px;
    margin-top: 5px;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 24px;
    font-weight: bold;
}

.close:hover{
    font-size: 26px;
    cursor: pointer;
}

#create, #cancel{
    
    padding: 5px;
    margin-top: 3px;
    width:48%;
}
#create{
    background-color: greenyellow;
}
#cancel{
    background-color:coral
}

